
.wp-menu-image { width:18px; height:18px; }

#icon-yang-form { background:url("yang_form-32.png?ver=20120615") no-repeat top center transparent; width:32px; height:32px; }

.form_data_list li { line-height:20px; font-size:14px; }